.banner {
  width: 100%;
  height: 800px;
  background-image: url("../img/background.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 80;
  pointer-events: none;
  transition: background-color 0.3s ease;
}

.overlay.showOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: auto;
}

.menu {
  background: transparent;
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 2rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo img {
  width: 150px;
  height: 50px;
}

.menuOptions {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menuOptions li a {
  text-decoration: none;
  color: #3b3b3b;
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.2s ease;
}

.menuOptions li a:hover {
  opacity: 0.8;
}

.icons {
  display: flex;
  gap: 15px;
}

.contactButton {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #3b3b3b;
  color: #f7f7f7;
  border: none;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid #3b3b3b;
}

.contactButton:hover {
  background-color: transparent;
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.contactButton .icon {
  color: #f7f7f7;
  font-size: 1rem;
}

.contactButton:hover .icon {
  color: #3b3b3b;
}

.contactTextTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #f7f7f7;
}

.contactButton:hover .contactTextTitle {
  color: #3b3b3b;
}

.icon {
  display: flex;
  font-size: 1.5rem;
}

.phoneIcon {
  font-size: 1.44rem;
}

.contactPopup {
  position: absolute;
  top: 80%;
  left: 71%;
  right: 0;
  background: #3b3b3b;
  border-radius: 2px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
  z-index: 100;
  width: 320px;
}

.contactContent {
  display: flex;
  flex-direction: column;
}

.contactTitle {
  margin: 0;
  margin-bottom: 1rem;
  color: #f7f7f7;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f7f7f7;
}

.contactItem:hover {
  opacity: 0.7;
}

.contactIcon {
  font-size: 1.2rem;
  color: #f7f7f7;
  min-width: 20px;
}

.contactText {
  font-size: 0.9rem;
  font-weight: 400;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f7f7f7;
  text-decoration: none;
  transition: color 0.2s ease;
}

.socialLink:hover {
  opacity: 0.7;
}

.socialIcon {
  font-size: 1.2rem;
  min-width: 20px;
}

.socialText {
  font-size: 0.9rem;
}

.closeButton {
  font-family: "Poppins";
  padding: 0.5rem 1rem;
  background: #f7f7f7;
  color: #3b3b3b;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.2s ease;
  align-self: flex-start;
}

.closeButton:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
  margin-top: 12rem;
}

.text {
  color: #3b3b3b;
  position: relative;
  z-index: 2;
}

.text h1 {
  font-size: 6.65rem;
  font-weight: 700;
  white-space: nowrap;
  position: absolute;
  top: -2rem;
  left: 0;
  z-index: 3;
}

.text p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 7rem;
  margin-bottom: 1.3rem;
  max-width: 360px;
  margin-right: 40px;
}

.button {
  background-color: transparent;
  border: 2px solid #3b3b3b;
  color: #3b3b3b;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.button:hover {
  background-color: #3b3b3b;
  color: #f7f7f7;
}

.image {
  position: relative;
  z-index: 1;
}

.image img {
  width: 600px;
  height: auto;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.text p.description {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 7rem;
  margin-bottom: 1.3rem;
  max-width: 360px;
  margin-right: 40px;
}

.text p.description .fullText {
  display: inline;
}

/* Responsive Styles */
@media (max-width: 1100px) {
  .content {
    padding: 0 2rem;
  }

  .menu {
    padding: 2rem 2rem;
  }

  .text {
    color: #3b3b3b;
    position: relative;
    z-index: 2;
  }

  .text h1 {
    font-size: 5.8rem;
  }

  .text p.description {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 5.5rem;
    margin-bottom: 1.3rem;
    max-width: 280px;
    margin-right: 40px;
  }

  .button {
    font-size: 0.9rem;
  }

  .image img {
    width: 500px;
    height: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  }
}

/* responsivo */

@media (max-width: 880px) {
  .banner {
    height: 640px;
  }

  .menuOptions,
  .icons {
    display: none;
  }

  .mobileMenuButton {
    display: flex;
    background: transparent;
    border: none;
    color: #3b3b3b;
    font-size: 2rem;
    cursor: pointer;
    z-index: 100;
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    max-width: 300px;
    height: 100vh;
    background: #3b3b3b;
    transition: right 0.3s ease;
    z-index: 100;
    padding: 2rem 1.8rem;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  }

  .mobileMenu.show {
    right: 0;
  }

  .mobileMenuCloseButton {
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
    background: transparent;
    border: none;
    color: #f7f7f7;
    font-size: 2.2rem;
    cursor: pointer;
  }

  .mobileMenuOptions {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 2.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  .mobileMenuOptions li:last-child {
    padding: 1rem 0;
  }

  .mobileMenuItem {
    padding: 1rem 0;
    border-bottom: 1px solid #555;
  }

  .mobileMenuItem:last-child {
    border-bottom: none;
  }

  .mobileMenuOptions li a {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    padding: 0.5rem 0;
  }

  .mobileContactButton {
    background: #f7f7f7;
    color: #3b3b3b;
    border: none;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    margin-top: 0.5rem;
  }

  .content {
    flex-direction: column;
    margin-top: 8rem;
    text-align: center;
  }

  .text h1 {
    position: static;
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }

  .text p {
    margin: 1rem auto;
    max-width: 100%;
    padding: 0 1rem;
  }

  .image img {
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
  }

  .contactPopup {
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 90%;
    max-width: 320px;
  }

  .text p.description {
    margin: 1rem auto;
    margin-top: -0.5rem;
    max-width: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
  }

  .text p.description .fullText {
    display: none;
  }

  .content {
    padding: 0 2rem;
  }

  .button {
    font-size: 0.9rem;
  }
}

@media (min-width: 881px) {
  .mobileMenuButton,
  .mobileMenu {
    display: none;
  }
}
