/* components/Footer.module.css */
.footerBackground {
  width: 100%;
  background-color: #3b3b3b;
  padding: 2rem 0;
}

.footerContainer {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1rem 2rem;
  color: #f7f7f7;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.brandSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logoAndName {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo {
  width: 35px;
  height: 35px;
}

.brandName {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  text-transform: lowercase;
  color: #f7f7f7;
}

.tagline {
  line-height: 1.5;
  font-size: 0.9rem;
  color: #f7f7f773;
}

.navLinks {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: #f7f7f7;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.10em;
  margin-left: .5rem;
  margin-top: .6rem;
}

.link:hover {
  color: #f7f7f7a9;
}

.divider {
  height: 1px;
  background-color: #5b5b5b;
  width: 100%;
  margin: 1rem 0;
}

.copyright {
  font-size: 0.8rem;
  color: #f7f7f773;
  text-align: right;
  padding-top: 1.5rem;
}
